body {
    font-family: Arial, sans-serif;
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('https://www.bankatcnb.bank/assets/files/brluz7UT/black-woman-with-daughter-holding-piggy-bank%20SAVINGS.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.center-message {
    background-color: #fd7e14;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 30px;
    font-size: 40px;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    width: 150px;
    height: auto;
    margin-right: 10px;
}
.login-container {
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 350px; /* Setting a fixed width for the container */
}


.form-control {
    height: 40px;
    width: 300px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: white;
    outline: none;
}

.login-button {
    height: 40px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #0057b8; /* Chase Blue */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #004a94;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.bg-dark {
    background-color: #f2e7c3;
}

.mt-4 {
    font-size: 20px;
}