h2{
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #F8f8f8;
}

html{
    background-color: #D3D3D3;
}

.logo {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    align-items: center;
    font-family: Arial, sans-serif;
}

.nav{
    width: 100%;
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
nav ul {
    width: 100%;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #0070c1;
}

.recent-investments{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: nowrap;
    color: black;
    text-align: center;
}
@media screen and (max-width: 500px) {
    .recent-investments{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
    }
}
table, th, td {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 5px;
    border-right: none;
    border-left: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

table {
    border-collapse: collapse;
    margin: 2px;
}
.recent-investments-caption{
    background-color: #0070c1;
    color: white;
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 40px;
    line-height: 35px;
    border-radius: 5px;
    margin: 2px;
}
.recent-investments-caption2{
    background-color: #0070c1;
    color: white;
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 40px;
    line-height: 35px;
    border-radius: 5px;
    margin: 2px;
}

.withdrawal-deposit-section {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #F8f8f8;
    width: 300px;
    margin: 0 auto;
}

.footer-background-color {
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color:  #CAF4F4;
}